<a href="https://colab.research.google.com/github/SydAt1/Eye_Disease_Classification/blob/main/notebooks/02_data_preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1) Data Preparation

In [110]:
import pandas as pd

In [111]:
df = pd.read_csv("cleaned_NHIS_dataset.csv")

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11295 entries, 0 to 11294
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            11295 non-null  int64
 1   YearStart             11295 non-null  int64
 2   LocationAbbr          11295 non-null  object
 3   Age                   11295 non-null  object
 4   Sex                   11295 non-null  object
 5   RaceEthnicity         11295 non-null  object
 6   Question              11295 non-null  object
 7   Data_Value            11295 non-null  float64
 8   RiskFactorID          11295 non-null  object
 9   RiskFactorResponseID  11295 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 882.6+ KB

In [113]:
df.head()

,Unnamed: 0,YearStart,LocationAbbr,Age,Sex,RaceEthnicity,Question,Data_Value,RiskFactorID,RiskFactorResponseID
0,0,2016,US,40-64 years,Male,"White, non-Hispanic",Percentage of adults who ever had cataract sur...,2.74,RFAPAR,RFTOT
1,2,2016,US,40-64 years,Male,"White, non-Hispanic",Percentage of adults who ever had cataract sur...,2.34,RFDM,RFNO
2,3,2016,US,40-64 years,Male,"White, non-Hispanic",Percentage of adults who ever had cataract sur...,5.25,RFDM,RFYES
3,4,2016,US,40-64 years,Male,"White, non-Hispanic",Percentage of adults who ever had cataract sur...,1.90,RFHT,RFNO
4,5,2016,US,40-64 years,Male,"White, non-Hispanic",Percentage of adults who ever had cataract sur...,4.02,RFHT,RFYES

In [114]:
df['Data_Value'].describe()

count    11295.000000
mean        19.832072
std         25.919001
min          0.000000
25%          0.670000
50%          7.030000
75%         30.660000
max        100.000000
Name: Data_Value, dtype: float64

In [115]:
df.loc[df["Data_Value"].idxmax()]

Unnamed: 0                                                          17660
YearStart                                                            2016
LocationAbbr                                                           US
Age                                                           18-39 years
Sex                                                                Female
RaceEthnicity                                                       Other
Question                Percentage of adults who even when wearing gla...
Data_Value                                                          100.0
RiskFactorID                                                         RFSM
RiskFactorResponseID                                               RFFORM
Name: 8432, dtype: object

In [116]:
# Removing unneccesary column namely 'Unnamed: 0' here
df.drop(columns = ['Unnamed: 0'], inplace=True)

## 2) Encoding

In [117]:
df['Age'].unique()

array(['40-64 years', '65-84 years', '18-39 years', 'All ages',
       '18 years and older', '85 years and older', '0-17 years'],
      dtype=object)

Age -> Ordinal Encoding

In [118]:
age_map = {
    '0-17 years': 0,
    '18-39 years': 1,
    '40-64 years': 2,
    '65-84 years': 3,
    '85 years and older': 4,
    '18 years and older': 5,
    'All ages': 6
}

df['Age_range'] = df['Age'].map(age_map)

Sex -> Encoding

In [119]:
sex_map = {
    'Male': 0,
    'Female': 1,
    'Both sexes': 2
}

df['Sex'] = df['Sex'].map(sex_map)

Nominal Categorical Columns -> Label Encoding (Prep Stage)

Columns:

* LocationAbbr

* RaceEthnicity

* Question

* RiskFactorID

* RiskFactorResponseID

In [120]:
from sklearn.preprocessing import LabelEncoder

In [121]:
categorical_cols = [
    'LocationAbbr',
    'RaceEthnicity',
    'Question',
    'RiskFactorID',
    'RiskFactorResponseID'
]

label_encoders = {}

for col in categorical_cols:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    label_encoders[col] = le

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11295 entries, 0 to 11294
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   YearStart             11295 non-null  int64
 1   LocationAbbr          11295 non-null  int64
 2   Age                   11295 non-null  object
 3   Sex                   11295 non-null  int64
 4   RaceEthnicity         11295 non-null  int64
 5   Question              11295 non-null  int64
 6   Data_Value            11295 non-null  float64
 7   RiskFactorID          11295 non-null  int64
 8   RiskFactorResponseID  11295 non-null  int64
 9   Age_range             11295 non-null  int64
dtypes: float64(1), int64(8), object(1)
memory usage: 882.6+ KB

In [123]:
df.sample(20)

,YearStart,LocationAbbr,Age,Sex,RaceEthnicity,Question,Data_Value,RiskFactorID,RiskFactorResponseID,Age_range
2035,2016,0,85 years and older,2,0,2,13.04,1,4,4
3481,2016,0,18 years and older,0,3,19,26.19,1,6,5
9992,2016,0,40-64 years,0,0,6,0.89,1,6,2
8994,2016,0,18-39 years,2,2,6,1.12,3,3,1
2439,2016,0,65-84 years,1,0,8,31.03,3,1,3
4353,2016,0,18 years and older,0,3,11,30.51,1,0,5
3466,2016,0,18 years and older,0,0,19,26.04,3,2,5
9428,2016,0,65-84 years,1,6,6,2.86,3,3,3
8860,2016,0,65-84 years,1,2,6,67.11,3,3,3
6421,2016,0,65-84 years,0,0,4,0.63,2,4,3
8852,2016,0,65-84 years,1,2,6,66.95,0,5,3
11178,2016,0,18 years and older,2,6,7,0.06,2,4,5
7239,2016,0,18 years and older,2,3,6,1.27,1,6,5
7747,2016,0,40-64 years,1,6,6,0.07,2,6,2
7618,2016,0,18-39 years,2,1,6,0.24,0,5,1
9046,2016,0,18-39 years,0,0,6,0.76,2,4,1
9686,2016,0,18-39 years,1,0,6,0.41,0,5,1
2790,2016,0,40-64 years,2,2,19,43.54,2,6,2
10520,2016,0,40-64 years,0,0,6,0.20,3,2,2
6351,2016,0,65-84 years,2,0,4,0.52,1,4,3

In [124]:
df['LocationAbbr'].unique()

array([0])

All the locations present in the dataset are from the same place. So dropping this column

In [125]:
df.drop(columns=['LocationAbbr'], inplace=True)

Convert Data_Value into classes

Converting a continuous risk value into categorical risk classes, in order to use the data for classification models.

In [126]:
def risk_class_numeric(value):
    if value <= 7:
        return 0
    elif value <= 31:
        return 1
    elif value <= 70:
        return 2
    else:
        return 3

df["Risk_Level"] = df["Data_Value"].apply(risk_class_numeric)

In [127]:
df.to_csv("prepped_NHIS_dataset.csv")