<a href="https://colab.research.google.com/github/SydAt1/Eye_Disease_Classification/blob/main/notebooks/02_data_preparationipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1) Data Preparation

In [55]:
import pandas as pd

In [42]:
df = pd.read_csv("cleaned_NHIS_dataset.csv")

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11295 entries, 0 to 11294
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            11295 non-null  int64
 1   YearStart             11295 non-null  int64
 2   LocationAbbr          11295 non-null  object
 3   Age                   11295 non-null  object
 4   Sex                   11295 non-null  object
 5   RaceEthnicity         11295 non-null  object
 6   Question              11295 non-null  object
 7   Data_Value            11295 non-null  float64
 8   RiskFactorID          11295 non-null  object
 9   RiskFactorResponseID  11295 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 882.6+ KB

In [18]:
df.head()

,Unnamed: 0,YearStart,LocationAbbr,Age,Sex,RaceEthnicity,Question,Data_Value,RiskFactorID,RiskFactorResponseID
0,0,2016,US,40-64 years,Male,"White, non-Hispanic",Percentage of adults who ever had cataract sur...,2.74,RFAPAR,RFTOT
1,2,2016,US,40-64 years,Male,"White, non-Hispanic",Percentage of adults who ever had cataract sur...,2.34,RFDM,RFNO
2,3,2016,US,40-64 years,Male,"White, non-Hispanic",Percentage of adults who ever had cataract sur...,5.25,RFDM,RFYES
3,4,2016,US,40-64 years,Male,"White, non-Hispanic",Percentage of adults who ever had cataract sur...,1.90,RFHT,RFNO
4,5,2016,US,40-64 years,Male,"White, non-Hispanic",Percentage of adults who ever had cataract sur...,4.02,RFHT,RFYES

In [44]:
# Removing unneccesary column namely 'Unnamed: 0' here
df.drop(columns = ['Unnamed: 0'], inplace=True)

## 2) Encoding

In [45]:
df['Age'].unique()

array(['40-64 years', '65-84 years', '18-39 years', 'All ages',
       '18 years and older', '85 years and older', '0-17 years'],
      dtype=object)

Age -> Ordinal Encoding

In [46]:
age_map = {
    '0-17 years': 0,
    '18-39 years': 1,
    '40-64 years': 2,
    '65-84 years': 3,
    '85 years and older': 4,
    '18 years and older': 5,
    'All ages': 6
}

df['Age_range'] = df['Age'].map(age_map)

Sex -> Encoding

In [47]:
sex_map = {
    'Male': 0,
    'Female': 1,
    'Both sexes': 2
}

df['Sex'] = df['Sex'].map(sex_map)

Nominal Categorical Columns -> Label Encoding (Prep Stage)

Columns:

* LocationAbbr

* RaceEthnicity

* Question

* RiskFactorID

* RiskFactorResponseID

In [31]:
from sklearn.preprocessing import LabelEncoder

In [48]:
categorical_cols = [
    'LocationAbbr',
    'RaceEthnicity',
    'Question',
    'RiskFactorID',
    'RiskFactorResponseID'
]

label_encoders = {}

for col in categorical_cols:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    label_encoders[col] = le

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11295 entries, 0 to 11294
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   YearStart             11295 non-null  int64
 1   LocationAbbr          11295 non-null  int64
 2   Age                   11295 non-null  object
 3   Sex                   11295 non-null  int64
 4   RaceEthnicity         11295 non-null  int64
 5   Question              11295 non-null  int64
 6   Data_Value            11295 non-null  float64
 7   RiskFactorID          11295 non-null  int64
 8   RiskFactorResponseID  11295 non-null  int64
 9   Age_range             11295 non-null  int64
dtypes: float64(1), int64(8), object(1)
memory usage: 882.6+ KB

In [50]:
df.sample(20)

,YearStart,LocationAbbr,Age,Sex,RaceEthnicity,Question,Data_Value,RiskFactorID,RiskFactorResponseID,Age_range
4731,2016,0,18-39 years,2,5,10,29.41,2,4,1
344,2016,0,40-64 years,1,6,3,1.23,1,4,2
10293,2016,0,18 years and older,2,0,6,0.22,3,3,5
3943,2016,0,40-64 years,0,3,19,25.19,2,6,2
7915,2016,0,18 years and older,2,4,6,6.87,1,4,5
10289,2016,0,18 years and older,2,0,6,0.19,2,4,5
6958,2016,0,65-84 years,2,0,9,15.42,1,0,3
2025,2016,0,65-84 years,0,6,2,6.46,1,0,3
8130,2016,0,40-64 years,1,2,6,13.96,3,1,2
6067,2016,0,18-39 years,0,0,4,0.24,0,5,1
8065,2016,0,18 years and older,0,6,6,2.97,3,2,5
8490,2016,0,18 years and older,2,1,6,88.75,1,4,5
834,2016,0,40-64 years,1,0,0,10.93,3,2,2
6601,2016,0,18-39 years,1,6,9,7.93,2,4,1
5140,2016,0,40-64 years,0,2,10,28.98,2,4,2
1513,2016,0,65-84 years,0,3,1,2.60,0,5,3
6269,2016,0,40-64 years,2,6,4,0.24,0,5,2
208,2016,0,18 years and older,1,5,3,1.46,1,4,5
1411,2016,0,40-64 years,0,2,1,1.49,0,5,2
4028,2016,0,0-17 years,0,6,13,16.06,0,5,0

In [51]:
df['LocationAbbr'].unique()

array([0])

All the locations present in the dataset are from the same place. So dropping this column

In [52]:
df = df.drop(columns=['LocationAbbr'], inplace=True)